<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" color="pink" >
      <ion-icon aria-hidden="true" src="assets/icons/home-outline.svg"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" src="assets/icons/add-circle-outline.svg"></ion-icon>
      <ion-label>Add Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" src="assets/icons/person-circle-outline.svg"></ion-icon>
      <ion-label>About Me</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>
