<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Add Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="saveNote()">
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-input label="Title" type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Description
      </ion-label>
      <ion-textarea label="Description" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        Date
      </ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
<ion-toolbar>
      <ion-button slot="start" (click)="takePosition()">
        <ion-icon slot="icon-only"  src="assets/icons/compass-outline.svg" color="dark">posiscion</ion-icon>
      </ion-button>
    


      <ion-button slot="end" (click)="takePic()">
        <ion-icon slot="icon-only" src="assets/icons/image-outline.svg" color="dark"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-button type="submit" expand="block" [disabled]="!form.valid">Submit</ion-button>

    @if (this.rutaImagenTomada) {
      <ion-card>
        <img [src]="'data:image/jpg;base64,'+ rutaImagenTomada" style="width: 100px; height: auto; border: 10px;" />
        <ion-button expand="block" color="danger" (click)="deletePic()">Delete the picture<ion-icon src="assets/icons/trash-outline.svg"></ion-icon></ion-button>
      </ion-card>
    }

  @if(this.position){
      <ion-card>
        <ion-button expand="block" color="danger" (click)="clearLocation()">
          <ion-icon slot="start" src="assets/icons/trash-outline.svg"></ion-icon>
          Delete the location
        </ion-button></ion-card>
  }    

  </form>
</ion-content>