<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Mi Perfil
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-avatar class="ion-margin-bottom">
        <img src="assets/icons/perfil.png" alt="Foto de perfil">
      </ion-avatar>

      <p>
        ¡Hola! Soy José Luis, un apasionado desarrollador de aplicaciones móviles. Me encanta trabajar con tecnologías como Ionic y Angular para crear aplicaciones increíbles.
      </p>

      <p>
        Puedes encontrarme en las redes sociales:
      </p>

      <ion-list>
        <ion-item>
          <ion-icon src="/src/assets/icons/logo-twitter.svg" slot="start"></ion-icon>
          <ion-label>Twitter: <a href="https://twitter.com/home">Joselurg_20</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon src="/src/assets/icons/logo-github.svg" slot="start"></ion-icon>
          <ion-label>GitHub: <a href="https://github.com/joselurg20">joselurg20</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon src="/src/assets/icons/logo-linkedin.svg" slot="start"></ion-icon>
          <ion-label>LinkedIn: <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit">Jose Luis Ruiz González</a> </ion-label>
        </ion-item>
        <!-- Agrega más redes sociales si es necesario -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
